/* Fonts */
@font-face {
    font-family: "WhitneyBook";
    src: url("../fonts/fonts/WhitneyBook/WhitneyBook.eot");
    src: url("../fonts/fonts/WhitneyBook/WhitneyBook.eot?#iefix")format("embedded-opentype"),
    url("../fonts/fonts/WhitneyBook/WhitneyBook.woff") format("woff"),
    url("../fonts/fonts/WhitneyBook/WhitneyBook.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "WhitneyLight"; */
@font-face {
    font-family: "WhitneyLight";
    src: url("../fonts/fonts/WhitneyLight/WhitneyLight.eot");
    src: url("../fonts/fonts/WhitneyLight/WhitneyLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/fonts/WhitneyLight/WhitneyLight.woff") format("woff"),
    url("../fonts/fonts/WhitneyLight/WhitneyLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
  background-color: @bgColor;
  color: softlight(#607D8B, @white);
  font-family: 'WhitneyBook','WhitneyLight','Helvetica','Arial', sans-serif;
}

/* Variables */
@bgColor: #e6f0fa;
@blueBgColor: #005587;
@white: #fff;
@black: #000;
@orange: #fbb050;
@asideBg: #cce0f4;


/* Header */
header {
  img {
    width: 130px;
  }
}

.navbar-default{
  background-color: @blueBgColor;
  height: 60px;
  color: @white;
}

.caps-title{
  text-transform: uppercase;
  margin-right: 10px;
  width: 340px;
}

.caps-title, .download{
  padding-top: 20px;
}

.download a {
  color: @white;
  text-decoration: underline;
}
.download a:hover {
  color: @orange;
}

.search {
  padding-left: 10px;
}

.navbar-form {
    padding-top: 15px;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-form .form-control {
    width: 110px;  
}

.icons{
  font-size: 2em;
  padding-top: 10px;
  a{
    color: @white;
  }  
}

/* aside */
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }

li {
    list-style-type: none; /* Убираем маркеры */
}

.panel-default {
  .panel-heading {
    color: @white;
    background-color: @blueBgColor;
    border-color: #ddd;
    text-transform: uppercase;
    h2 {
      text-align: center;
      i {
        padding-right: 5px;
      }
    }
    }
  .panel-body {
    background-color: @asideBg;
    a {
          color: @black;
      } 

    .hover-active(){ /*Mixin*/
       color: @white;
       background-color: @blueBgColor;
       text-decoration: none;
    }
    a:hover {
      .hover-active;
    } 
    a:active {
      .hover-active;
    }      
  }  
}